*{
    padding: 0;
    margin: 0;
}
body,
html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all s ease-in-out;
}

div a {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 1.5rem;
}
#gray {
    background-color: gray;
}
#yellow {
    background-color: yellow
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
#brown {
    background-color: brown;
}
#orange {
    background-color: orange;
}
